/* begin Page */

body
{
	font-family: Tahoma, Helvetica, Sans-Serif;
	margin: 0 auto;
	padding: 0;
	background-color: #A3A4A5;
	font-size: 12px;
	color: #333333;
	cursor: default;
}

input
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

textarea, select
{
	font-style: normal;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

/*
ul
{
    margin: 0;
    padding: 0;
}

li
{
    list-style: square;
    padding: .2em 0 0.1em 0em;
    list-style-image: none;
    list-style-position: inside;
}
*/


.Main
{
	position: relative;
	width: 100%;
	left: 0;
	top: 0;
}

.PageBackgroundGlare
{
	position: absolute;
	width: 100%;
	height: 373px;
	left: 0;
	top: 0;
}

.PageBackgroundGlareImage
{
	background-image: url('img/Page-BgGlare.png');
	background-repeat: no-repeat;
	height: 373px;
	width: 523px;
	margin: 0;
}

html:first-child .PageBackgroundGlare
{
	border: 1px solid transparent;
}

.PageBackgroundSimpleGradient
{
	position: absolute;
	background-image: url('img/Page-BgSimpleGradient.jpg');
	background-repeat: repeat-x;
	top: 0;
	width: 100%;
	height: 1px;
}

.cleared
{
	float: none;
	clear: both;
	margin: 0;
	padding: 0;
	border: none;
	font-size: 1px;
}


form
{
	padding: 0 !important;
	margin: 0 !important;
}
/* end Page */

/*menu*/
.nav
{
	position: relative;
	height: 29px;
	z-index: 100;
}
.nav .l, .nav .r
{
	position: absolute;
	z-index: -1;
	top: 0;
	height: 29px;
	background-image: url('img/nav.png');
}
.nav .l
{
	left: 0;
	right: 0px;
}
.nav .r
{
	right: 0;
	width: 788px;
	clip: rect(auto, auto, auto, 788px);
}
/*end menu*/

/* begin Box, Sheet */
.Sheet
{
	position: relative;
	z-index: 0;
	margin: 0 auto;
	width: 990px;
	min-width: 83px;
	min-height: 83px;
}
.Sheet-body
{
	position: relative;
	z-index: 1;
	padding: 6px;
}
.Sheet-tr, .Sheet-tl, .Sheet-br, .Sheet-bl, .Sheet-tc, .Sheet-bc, .Sheet-cr, .Sheet-cl
{
	position: absolute;
	z-index: -1;
}
.Sheet-tr, .Sheet-tl, .Sheet-br, .Sheet-bl
{
	width: 102px;
	height: 102px;
	background-image: url('img/Sheet-s.png');
}

.Sheet-tl
{
	top: 0;
	left: 0;
	clip: rect(auto, 51px, 51px, auto);
}

.Sheet-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, auto, 51px, 51px);
}

.Sheet-bl
{
	bottom: 0;
	left: 0;
	clip: rect(51px, 51px, auto, auto);
}

.Sheet-br
{
	bottom: 0;
	right: 0;
	clip: rect(51px, auto, auto, 51px);
}

.Sheet-tc, .Sheet-bc
{
	left: 51px;
	right: 51px;
	height: 102px;
	background-image: url('img/Sheet-h.png');
}

.Sheet-tc
{
	top: 0;
	clip: rect(auto, auto, 51px, auto);
}

.Sheet-bc
{
	bottom: 0;
	clip: rect(51px, auto, auto, auto);
}

.Sheet-cr, .Sheet-cl
{
	top: 51px;
	bottom: 51px;
	width: 102px;
	background-image: url('img/Sheet-v.png');
}

.Sheet-cr
{
	right: 0;
	clip: rect(auto, auto, auto, 51px);
}

.Sheet-cl
{
	left: 0;
	clip: rect(auto, 51px, auto, auto);
}

.Sheet-cc
{
	position: absolute;
	z-index: -1;
	top: 51px;
	left: 51px;
	right: 51px;
	bottom: 51px;
	background-color: #FFFFFF;
}


.Sheet
{
	margin-top: 10px !important;
}

.PageBackgroundSimpleGradient, .PageBackgroundGradient, .PageBackgroundGlare
{
	min-width: 800px;
}
/* end Box, Sheet */

/* begin Header */
div.Header
{
	margin: 0 auto;
	position: relative;
	z-index: 0;
	width: 976px;
	height: 80px;
}

div.Header-fondo
{
	position: absolute;
	z-index: -2;
	top: 29px;
	left: -1px;
	width: 978px;
	height: 55px; 
	background-color: #1b7698;
	
}
/* end Header */

/* begin Logo */
.logo
{
	display: block;
	position: absolute;
	left: 20px;
	top: 0px;
	width: 750px;
	right: 321px;
}
/* end Logo */

/* begin ContentLayout */
.contentLayout
{
	position: relative;
	margin-bottom: 16px;
	width: 978px;
	min-height: 340px;
}
/* end ContentLayout */

/* begin Box, Block */
.Block
{
	position: relative;
	z-index: 0;
	margin: 0 auto;
	min-width: 23px;
	min-height: 23px;
}

.Block-body
{
	position: relative;
	z-index: 1;
	padding: 6px;
}

.Block-tr, .Block-tl, .Block-br, .Block-bl, .Block-tc, .Block-bc, .Block-cr, .Block-cl
{
	position: absolute;
	z-index: -1;
}

.Block-tr, .Block-tl, .Block-br, .Block-bl
{
	width: 34px;
	height: 34px;
	background-image: url('img/Block-s.png');
}

.Block-tl
{
	top: 0;
	left: 0;
	clip: rect(auto, 17px, 17px, auto);
}

.Block-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, auto, 17px, 17px);
}

.Block-bl
{
	bottom: 0;
	left: 0;
	clip: rect(17px, 17px, auto, auto);
}

.Block-br
{
	bottom: 0;
	right: 0;
	clip: rect(17px, auto, auto, 17px);
}

.Block-tc, .Block-bc
{
	left: 17px;
	right: 17px;
	height: 34px;
	background-image: url('img/Block-h.png');
}

.Block-tc
{
	top: 0;
	clip: rect(auto, auto, 17px, auto);
}

.Block-bc
{
	bottom: 0;
	clip: rect(17px, auto, auto, auto);
}

.Block-cr, .Block-cl
{
	top: 17px;
	bottom: 17px;
	width: 34px;
	background-image: url('img/Block-v.png');
}

.Block-cr
{
	right: 0;
	clip: rect(auto, auto, auto, 17px);
}

.Block-cl
{
	left: 0;
	clip: rect(auto, 17px, auto, auto);
}

.Block-cc
{
	position: absolute;
	z-index: -1;
	top: 17px;
	left: 17px;
	right: 17px;
	bottom: 17px;
	background-color: #E3E8E8;
}

.Block
{
	margin: 5px;
}
/* end Box, Block */

/* begin BlockHeader */
.BlockHeader
{
	position: relative;
	z-index: 0;
	height: 30px;
	padding: 0 11px;
	margin-bottom: 0px;
}

.BlockHeader .t
{
	height: 30px;
	color: #152A33;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	white-space: nowrap;
	padding: 0 11px;
	line-height: 30px;
}
/* end BlockHeader */

/* begin Box, BlockContent */
.BlockContent
{
	position: relative;
	z-index: 0;
	margin: 0 auto;
	min-width: 1px;
	min-height: 1px;
}

.BlockContent-body
{
	position: relative;
	z-index: 1;
	padding: 11px;
}

.BlockContent-body
{
	color: #202728;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
}

.BlockContent-body a:link
{
	color: #186986;
	text-decoration: underline;
}

.BlockContent-body a:visited, .BlockContent-body a.visited
{
	color: #748C90;
	text-decoration: underline;
}

.BlockContent-body a:hover, .BlockContent-body a.hover
{
	color: #1F8BB2;
	text-decoration: none;
}
/* end Box, BlockContent */

/* begin Box, Post */
.Post
{
	position: relative;
	z-index: 0;
	margin: 10px;
	min-width: 1px;
	min-height: 1px;
}

.Post-body
{
	position: relative;
	z-index: 1;
	padding: 10px;
}
/* end Box, Post */

/* Start images */
a img
{
	border: 0;
}

.article img, img.article
{
	border: solid 1px #92BFD3;
	margin: 1em;
}

.metadata-icons img
{
	border: none;
	vertical-align: middle;
	margin: 2px;
}
/* Finish images */

/* begin PostHeaderIcon */
.PostHeaderIcon-wrapper
{
	text-decoration: none;
	margin: 0.2em 0;
	padding: 0;
	font-weight: normal;
	font-style: normal;
	letter-spacing: normal;
	word-spacing: normal;
	font-variant: normal;
	text-decoration: none;
	font-variant: normal;
	text-transform: none;
	text-align: left;
	text-indent: 0;
	line-height: inherit;
	font-size: 22px;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	color: #19708F;
}

.PostHeaderIcon-wrapper, .PostHeaderIcon-wrapper a, .PostHeaderIcon-wrapper a:link, .PostHeaderIcon-wrapper a:visited, .PostHeaderIcon-wrapper a:hover
{
	font-size: 22px;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	color: #19708F;
}
/* end PostHeaderIcon */

/* begin PostHeader */
.PostHeader a:link
{
	text-decoration: none;
	text-align: left;
	color: #1F87AD;
}

.PostHeader a:visited, .PostHeader a.visited
{
	text-decoration: none;
	text-align: left;
	color: #4A95B5;
}

.PostHeader a:hover, .PostHeader a.hovered
{
	text-decoration: none;
	text-align: left;
	color: #34687F;
}
/* end PostHeader */

/* begin PostContent */

.PostContent
{
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-align: justify;
	color: #242C2D;
}

a
{
	text-decoration: none;
	color: #0C3E83;
}

/* :hover - adds special style to an element when you mouse over it. */
a:hover, a.hover
{
	text-decoration: underline;
	color: #0056D0;
}

/* Finish Content link style */

/* begin PostQuote */
/* Start blockquote */
blockquote p
{
	color: #05141A;
	font-style: italic;
	font-weight: normal;
	text-align: left;
}

blockquote
{
	border: solid 1px #92BFD3;
	margin: 10px 10px 10px 50px;
	padding: 5px 5px 5px 41px;
	background-color: #C5DDE7;
	background-image: url('img/PostQuote.png');
	background-position: left top;
	background-repeat: no-repeat;
}
/* Finish blockuote */
/* end PostQuote */

/* begin Button */
.Button
{
	display: inline-block;
	width: auto;
	outline: none;
	border: none;
	background: none;
	line-height: 34px;
	margin: 0;
	padding: 0;
	overflow: visible;
	cursor: default;
	text-decoration: none !important;
	z-index: 0;
}

.Button .btn
{
	display: block;
	position: relative;
	float: left;
	height: 34px;
	overflow: hidden;
	white-space: nowrap;
	width: auto;
	color: #293233;
}

.Button .btn .t
{
	display: block;
	height: 34px;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	text-align: left;
	padding: 0 21px;
	line-height: 34px;
	text-decoration: none !important;
}


.Button .hover, .Button:hover
{
	color: #0E3D4E;
	text-decoration: none !important;
}

.Button .active
{
	color: #EDF4F8;
}

.Button .btn .l, .Button .btn .r
{
	display: block;
	position: absolute;
	z-index: -1;
	height: 102px;
	background-image: url('img/Button.png');
}

.Button .btn .l
{
	left: 0;
	right: 12px;
}

.Button .btn .r
{
	width: 411px;
	right: 0;
	clip: rect(auto, auto, auto, 400px);
}

.Button .btn.hover .l, .Button .btn.hover .r, .Button .btn:hover .l, .Button .btn:hover .r
{
	top: -34px;
}

.Button .btn.active .l, .Button .btn.active .r
{
	top: -68px;
}
/* end Button */

/* begin Footer */
.Footer
{
	position: relative;
	z-index: 0;
	overflow: hidden; /*width: 788px;*/
	width: 978px;
	margin: 5px auto 0px auto;
}

.Footer .Footer-inner
{
	height: 1%;
	position: relative;
	z-index: 0;
	padding: 5px 0px 0px 0px;
	text-align: center;
}

.Footer .Footer-background
{
	position: absolute;
	z-index: -1;
	background-repeat: no-repeat;
	width: 978px;
	height: 22px;
	bottom: 29px;
	left: 0;
	background-color: #1b7698;
}

.Footer .Footer-text p
{
	margin: 0;
}

.Footer .Footer-text
{
	display: inline-block;
	color: #171C1C;
	font-size: 11px;
}
/* end Footer */

/* begin PageFooter */
.page-footer, .page-footer a, .page-footer a:link, .page-footer a:visited, .page-footer a:hover
{
	font-size: 10px;
	letter-spacing: normal;
	word-spacing: normal;
	font-style: normal;
	font-weight: normal;
	text-decoration: underline;
	color: #589DBB;
}

.page-footer
{
	margin: 1em;
	text-align: center;
	text-decoration: none;
	color: #7D9397;
}
/* end PageFooter */

/* begin LayoutCell */
.contentLayout .contentUp
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: inherit;
	overflow: hidden;
	width: 976px;
}

.contentLayout .contentLeft1
{
	margin: 10px;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 650px;
}

.contentLayout .contentRight1
{
	margin-top: 10px;
	margin-right: 8px;
	margin-bottom: 10px;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 300px;
}

.contentLayout .contentDown
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: inherit;
	overflow: hidden;
	width: 960px;
	margin-left: 10px;
}

.contentLayout .content-wide
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 787px;
}
/* end LayoutCell */

.TablaCabecera
{
	border-width: 1px;
	border-color: #808080;
	font-size: 1px;
	color: #333333;
	background-color: #CCCACB;
	text-align: center;
	width: 100%;
	font-weight: bold;
	border-bottom-style: solid;
}
.TablaFila
{
	font-weight: normal;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	background-color: white;
	border-bottom-style: none;
}

.TablaFilaCentrada
{
	font-weight: normal;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	background-color: white;
	border-bottom-style: none;
	text-align: center;
}

.TablaFilaAlterna
{
	font-weight: normal;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	background-color: #F2F1F1;
	border-bottom-style: none;
}

.TablaFilaAlternaCentrada
{
	font-weight: normal;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	background-color: #F2F1F1;
	border-bottom-style: none;
	text-align: center;
}

.Titulo
{
	font-weight: normal;
	font-size: 14px;
	color: navy;
	background-color: white;
}

/*PROYECTO*/
.TituloSeccion
{
	margin: 2px 2px 2px 0px;
	font-size: 12px;
	font-weight: bold;
	color: #0B3341;
	background-color: #E5E5E5;
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	padding: 3px 3px 3px 0px;
	border-bottom-color: #C0C0C0;
}

.Etiqueta
{
	font-weight: bold;
}

.Sitemap
{
	color: #C0C0C0;
	padding: 10px 0px 0px 12px;
	width: 300px;
}

.Sitemap A, .Sitemap A:visited, .Sitemap A:active, .Search A
{
	color: #3C8AFF;
	font-weight: bold;
}
.Sitemap A:hover, .Search A:hover
{
	color: #A7A7A7;
	text-decoration: underline;
}

.Search
{
	float: right;
	color: #C0C0C0;
	padding: 5px 5px 5px 0px;
	white-space: nowrap;
	z-index: 1;
}

.LinkButtonBuscar
{
	padding: 0px 10px 0px 10px;
	border: 1px solid #C0C0C0;
	font-size: 12px;
	cursor: pointer;
	text-align: center;
	background-image: url(img/botonPlateado.png);
	width: 120px;
	height: 20px;
	white-space: nowrap;
}

.LinkButtonBuscar A
{
	font-weight: normal;
	color: #003399;
}

.LinkButtonBuscar A:hover
{
	color: #C0C0C0;
}

#Contenedor0
{
	border: 1px solid #A3A4A5;
	width: 250px;
}
#Contenedor1
{
	padding: 4px;
	width: 242px;
}
/*
#miTitulo
{
	text-align: center;
	background-color: #1b7698;
	height: 18px;
	padding: 4px;
}
#miContenido
{
	text-align:justify;
	padding: 5px;
}
*/

.Contenedor0
{
	padding: 1px;
	margin: 5px 20px 5px 5px;
	border: 1px solid #A3A4A5;
	width: 300px;
}
.Contenedor1
{
	padding: 4px;
	width: 292px;
}

.Contenedor0Down
{
	border: 1px solid #A3A4A5;
	width: 954px;
}
.Contenedor1Down
{
	padding: 4px;
	width: 946px;
}

.miTitulo
{
	color: #333333;
	font-weight: bold;
	text-align: left;
	background-color: #CCCCCC;
	height: 18px;
	padding: 4px 4px 4px 8px;
}
.miContenido
{
	text-align: justify;
	padding: 5px;
}

.contentLayout A, .contentLayout A:visited, .contentLayout A:active, .contentLayout A
{
	color: #3C8AFF;
	font-weight: bold;
}
.contentLayout A:hover, .contentLayout A:hover
{
	color: #A7A7A7;
	text-decoration: underline;
}

td
{
}

.mensajeTitulo
{
	font-weight: bold;
	color: gray; /*color: #476B8B;*/
}

.mensaje
{
	font-family: Tahoma, Helvetica, Sans-Serif;
	color: gray; /*color: #476B8B;*/
}

.datosnumero
{
	font-weight: normal;
	text-align: right;
}

.grid .datatable .row TD .datosnumero
{
	font-weight: normal;
	text-align: right;
}

/*PARA ALINEAR EL CONTENIDO EN EL CONTROL QUE MUESTRA LAS OFICINAS*/
.ob_iLboICBC
{
	list-style-type: none !important;
	margin: 0 6px;
	overflow: auto;
	padding: 0;
	position: relative;
	vertical-align: top;
	width: auto;
	z-index: 10;
}

.ob_iLboICBC li
{
	font-size: 11px;
	cursor: pointer;
	height: 17px;
	margin: 0 14px;
	padding: 0;
	position: relative;
	float: left;
	width: 385px;
}

.slideInfo
{
	/* 	background-image: url("img/botonPlateado.png"); 	background-repeat:repeat-x; */
	border: 1px none Gray;
	padding: 2px;
	margin-top: 5px;
	font-family: Tahoma, Helvetica, Sans-Serif;
	font-size: 12px;
	font-weight: normal; /*color: White;*/
	color: #646464;
	background-color: #E4E4E4;
}
.label
{
	font-weight: bold;
}

#myslideshow_inner
{
	margin: 10px;
}

.divAlerta
{
	border: 1px dashed #800000;
	padding: 3px;
	background-color: #FFFFAE;
	color: #800000;
}



/* ajax__tab_yuitabview-theme theme (../webSicoNet/Imagenes/sprite.png) */
.ajax__tab_yuitabview-theme .ajax__tab_header 
{
    font-family:arial,helvetica,clean,sans-serif;
    font-size:small;
    border-bottom:solid 5px #2647a0;
}
.ajax__tab_yuitabview-theme .ajax__tab_header .ajax__tab_outer
{
	background: url(../SICOWEBCONSULTAS/Imagenes/sprite.png) #d8d8d8 repeat-x;
	margin: 0px 0.16em 0px 0px;
	padding: 1px 0px 1px 0px;
	vertical-align: bottom;
	border: solid 1px #a3a3a3;
	border-bottom-width: 0px;
}
.ajax__tab_yuitabview-theme .ajax__tab_header .ajax__tab_tab
{
	color: #000;
	padding: 0.35em 0.75em;
	margin-right: 0.01em;
}
.ajax__tab_yuitabview-theme .ajax__tab_hover .ajax__tab_outer
{
	background: url(../SICOWEBCONSULTAS/Imagenes/sprite.png) #bfdaff repeat-x left -1300px;
}
.ajax__tab_yuitabview-theme .ajax__tab_active .ajax__tab_tab
{
	color: #fff;
}
.ajax__tab_yuitabview-theme .ajax__tab_active .ajax__tab_outer
{
	background: url(../SICOWEBCONSULTAS/Imagenes/sprite.png) #2647a0 repeat-x left -1400px;
}
.ajax__tab_yuitabview-theme .ajax__tab_body 
{
    font-family:verdana,tahoma,helvetica;
    font-size:10pt;
    padding:0.25em 0.5em;
    background-color:#edf5ff;    
    border:solid 1px #808080;
    border-top-width:0px;
}